.main {
    background-color: #238DAB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    color: #ECF8FB;
    font-family: 'Shnobel';
    font-size: 69px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
    text-align: center;
}

.subtitle {
    margin: 0;
    padding: 0;
    color: #ECF8FB;
    font-size: 23px;
    font-family: 'Klyakson';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    max-width: 214px;
}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.image {
    width: 150px;
    height: 50px;
}

.link:hover {
    color: opacity .5;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 440px;
    }

    .title {
        font-size: 69px;
    }

    .subtitle {
        font-size: 46px;
    }

    .image {
        width: 200px;
        height: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 660px;
    }

    .title {
        font-size: 100px;
    }

    .subtitle {
        font-size: 50px;
    }
}