.main {
    background-color: #238DAB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 236px;
    height: 118px;
}

.subtitle {
    margin: 0;
    padding: 0;
    color: #ECF8FB;
    font-size: 23px;
    font-family: 'Shnobel';
    max-width: 200px;
}

.text {
    margin: 0;
    padding: 0;
    color: #ECF8FB;
    font-size: 23px;
    font-family: 'Shnobel';
    max-width: 300px;
}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;

    color: #ECF8FB;
    font-size: 23px;
    font-family: 'Shnobel';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

@media screen and (min-width: 768px) {
    .logo {
        width: 400px;
        height: 200px;
    }

    .link {
        font-size: 69px;
    }

    .text {
        max-width: 600px;
    }

}

@media screen and (min-width: 1280px) {
    .logo {
        width: 754px;
        height: 377px;
    }

    .subtitle{
        max-width: 800px;
    }
    
    .text {
        max-width: 800px;
    }

}