@font-face {
    font-family: 'Shnobel';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    /*src: url(./inter-400.woff2) format("woff2")*/
    src: url(Shnobel-Regular.otf) format("otf")
  }

@font-face {
     font-family: 'Klyakson';
     font-style:  normal;
     font-weight: 400;
     font-display: swap;
     src: url(Klyakson.ttf) format("ttf")
  }